@use 'variables' as *;

.header {
  display: block;
  background: var(--bg);
  border-bottom: 1px solid var(--border);
  padding: 8px 0;
}

.header__container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr auto;
  align-items: center;
  gap: 1rem;
  padding: 0 16px;
}

.header__logo {
  grid-column: 1;
}

.header__logo-img {
  display: block;
  align-items: center;
  height: 40px;
}

.header__nav {
  grid-column: 2;
  justify-self: center;
  width: 100%;
}

.header__list {
  display: grid;
  font-weight: 600;
  grid-auto-flow: column;
  gap: 1.2rem;
  list-style: none;
  padding: 0;
  margin-right: 15px;
  justify-content: end;
  align-items: center;
}

.header__actions {
  grid-column: 3;
  justify-self: end;
}

.header__link {
  color: var(--color-base);
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 550;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  padding: 6px 0;
  display: inline-block;
  position: relative;
  transition: color var(--dur) ease;
  line-height: 1;
}

.header__link:hover,
.header__link:focus-visible {
  color: var(--color-primary);
}

.header__link.is-active {
  color: var(--color-primary);
}

.header__link.is-active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -18px;
  width: 37px;
  height: 4px;
  background: var(--color-primary);
  border-radius: 0.2rem;
}
