@use 'variables' as *;

$stars-gap: 7px;
$stars-margin-vertical: 0.35rem;
$star-width: 13px;
$star-height: 15px;

.stars {
  gap: 7px;
  align-items: center;
  margin: 0.35rem 0;
}

.stars__item {
  display: inline-block;
  width: 13px;
  height: 15px;
  background: url('../images/star.svg') no-repeat center/contain;
}

.stars__item--active {
  background: url('../images/star-active.svg') no-repeat center/contain;
}
