@use 'variables' as *;

.catalog {
  padding: $spacing-lg;

  &__title {
    font-size: 2rem;
    margin-bottom: $spacing-lg;
    text-align: center;
  }

  &__grid {
    display: grid;
    gap: $spacing-lg;

    grid-template-columns: 1fr;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
